
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
  height: auto;
  display: flex;
  justify-content: center;
}
.project-description {margin:0;}
.main-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  justify-content: start;
  background-color: #fff;
  /* margin: 40px auto; */
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* main content section */

.main-content-section {
  padding: 100px 90px;
}
.my-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}
/* about me section */
.about-me {
  margin: 0 0 40px 0;
}
.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0 0 20px 0;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 25px 0;
}

.about-me-description {
  width: 600px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
/* my project section */
.my-projects {
  margin: 0 0 50px 0;
}
.my-projects-list {
  padding: 0 0 0 17px;
}
.my-projects-item {
  color: #000;
  font-weight: bold;
}
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}
.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
/* my work expiriance section */
.my-Work-experience-company {
  color: rgb(184, 181, 35);
}
.my-work-expirience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.my-work-expirience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.my-work-expirience-devider {
  color: #000;
}
.my-work-expirience-duties {
  padding: 0 0 0 18px;
}
.my-work-expirience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
.my-work-expirience-companny {
  margin: 0 15px 0 0;
}
/* my education section */
.my-universitet {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: rgb(184, 181, 35);
  margin: 10px 0 10px 0;
}
.my-speciality {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 10px 0;
}
.my-education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
/* Sidebar-section */
.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.image {
  border-radius: 50%;
  padding-left: 35px;
  padding-right: 35px;
  /* width: 200px;
  height: 200px; */
}
.Contacts-section,
.Tech-skills-section,
.Soft-skills-section,
.Languages-section {
  margin: 50px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

/* Contact section */
.Contacts-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 7px;
}
.Contacts-section-link {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  
}

/* Tech skikks section */
.Tech-skills-list,
.Soft-skills-list,
.Languages-list {
  padding: 0 0 0 17px;
}
.Tech-skills-item,
.Soft-skills-item,
.Languages-item {
  color: #e1f00e;
}
.skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
